// Capture exit codes from upstream processes when piping
process.shell = ['/usr/bin/env bash', '-euo', 'pipefail']

// Prevent local Python libraries from conflicting with those in the container.
env { PYTHONNOUSERSITE = 1 }

summary {
  name = 'qc_trimming'
  author = 'Thilo Schulze, Felix Thalen'
  website = 'https://github.com/ThiloSchulze/eukaryotic-genome-assembly'
  description = 'Check quality pre-trimming, trimming, quality check after trimming'
  mainScript = 'main.nf'
  nextflowVersion = '!>=20.04.1'
  version = '1.0.1'
}

params {
  // Mandatory Parameter
  reads = null

  // Miscellaneous
  help = false
  version = false

  // Downstream data handling
  single_end = false
  output = "assembly_out"

  // Quality control (FastQC)
  qc_adapters = null

  // Trimming (Trim Galore!)
  trim_min_length = 55
  trim_quality = 20
  trim_adapter = null
  trim_phred64 = null
  trim_forward_leading = null
  trim_forward_trailing = null
  trim_reverse_leading = null
  trim_reverse_trailing = null
  trim_leading_cutoff = null
  trim_trailing_cutoff = null

  // Assembly (SPAdes)
  kmers = [51, 71, 91]
}

profiles {
    docker {
        docker.enabled         = true
        docker.userEmulation   = true
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
    }
    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
        docker.enabled         = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
    }
}

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']
