/*
 * =================================================
 * An example of a custom configuration file for the
 * eukaryotic-genome-assembly pipeline
 * =================================================
 */

params {
  // Mandatory option
  reads                 = null

  // Miscellaneous
  help                  = false
  version               = false

  // Input/output options
  single_end            = false
  output                = "assembly_out"

  // Resource allocation (default values only, expected to be overwritten)
  max_retries           = 2
  max_cpus              = 8
  // Memory allocation guide:
  //   B = bytes, KB = kilobytes, MB = megabytes, GB = gigabytes, and
  //   TB = terabytes
  //   Example: 32.GB
  max_memory            = 32.GB
  // Time allocation guide:
  //   d = days, h = hours, m = minutes, s = seconds
  //   Example: '2d'
  max_time              = '2d'

  // Quality control (FastQC)
  qc_adapters           = null

  // Trimming (Trim Galore!)
  trim_min_length       = 55
  trim_quality          = 20
  trim_adapter          = null
  trim_phred64          = null
  trim_forward_leading  = null
  trim_forward_trailing = null
  trim_reverse_leading  = null
  trim_reverse_trailing = null
  trim_leading_cutoff   = null
  trim_trailing_cutoff  = null

  // Assembly (SPAdes)
  kmers                 = [55]
  meta                  = false
}
